<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    testdox="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/php/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/php/integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
        <include>
            <directory suffix=".php">includes</directory>
            <file>tablecrafter.php</file>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>node_modules</directory>
        </exclude>
    </coverage>

    <php>
        <const name="TABLECRAFTER_TESTING" value="true"/>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
    </php>
</phpunit>
